<div class="card-blog-preview">
		<div class="card-blog-img-container">
			<img src="{{Blog.Background_image}}" alt="" class="card-blog-box-img">
		</div>
		<div class="card-box-section-infos">
			<h2 class="card-blog-title">{{Blog.Title}}</h2>
			<p class="card-blog-description">
				{{Blog.Description}}
			</p>
		</div>
		<div class="card-blog-icon-action">
			<a href="blog/show?idBlog={{ Blog.idBlog }}"><img src="/assets/images/icons/eye-regular.svg" alt="oeil pour voir le blog en ligne" class="card-blog-action"></a>
				{% if user.idUsers == blog.idUsers %}
					<a href="article/create?id={{ Blog.idBlog }}"><img src="/assets/images/icons/pen-to-square-solid.svg" alt="stylo pour créer un article pour ce blog" class="card-blog-action"></a>
					<a href="blog/delete?id={{ Blog.idBlog}}"><img src="/assets/images/icons/xmark-solid.svg" alt="croix pour supprimer un blog" class="card-blog-action card-blog-highlight"></a>
				{% endif %}
		</div>
</div>

