<div class="card-blog-preview">

		<div class="card-blog-box-img">
			<img src="{{Blog.Background_image}}" alt="" class="card-blog-box-img img-blog-preview">
		</div>
		<div class="card-box-section-infos">
			<h2 class="card-blog-title">{{Blog.Title}}</h2>
			<p class="card-blog-description">
				{{Blog.Description}}
			</p>
		</div>
		<div class="card-blog-icon-action">
			<a href="blog/show?idBlog={{ Blog.idBlog }}"><img src="/assets/images/icons/eye-regular.svg" alt="oeil pour voir le blog en ligne" class="card-blog-action"><a/>
			<a href="article/create?id={{ Blog.idBlog }}"><img src="/assets/images/icons/pen-to-square-solid.svg" alt="stylo pour créer un article pour ce blog" class="card-blog-action"></a>
			{# This button need to be visible only if the users is in the explorer mode and he's not the owner ! #}
			{% if explore %}
				{# TODO : créer un espace dans le profil pour retrouver les blogs enregistrés  #}
				<img src="/assets/images/icons/icon_bookmark.png" alt="bookmark icon pour enregistrer un blog" class="card-blog-action">
			{% endif %}
			{# <img src="/assets/images/icons/icon_warningsignal.png" alt="warning icon pour signaler un blog problèmatique" class="card-blog-action"> #}
			{# This button need to be visible only if the user is in his personal space and he 's the owner of it !  #}
			<a href="blog/delete?id={{ Blog.idBlog}}"><img src="/assets/images/icons/xmark-solid.svg" alt="croix pour supprimer un blog" class="card-blog-action card-blog-delete"></a>
		</div>

</div>

