<div class="card-blog-preview">
	<a href="article/create?id={{ Blog.idBlog }}">
		<div class="card-blog-box-img">
			<img src="{{Blog.Background_image}}" alt="" class="card-blog-box-img img-blog-preview">
		</div>
		<div class="card-box-section-infos">
			<h2 class="card-blog-title">{{Blog.Title}}</h2>
			<p class="card-blog-description">
				{{Blog.Description}}
			</p>
		</div>
		<div class="card-blog-icon-action">
			<img
			src="/assets/images/icons/icon_eye.png" alt=" eye icon pour voir le blog en ligne" class="card-blog-action">
			{# This button need to be visible only if the users is in the explorer mode and he's not the owner ! #}
			{% if explore %}
				<img src="/assets/images/icons/icon_bookmark.png" alt="bookmark icon pour enregistrer un blog à revisiter plus tard" class="card-blog-action">
			{% endif %}
			{# <img src="/assets/images/icons/icon_warningsignal.png" alt="warning icon pour signaler un blog problèmatique" class="card-blog-action"> #}
			{# This button need to be visible only if the user is in his personal space and he 's the owner of it !  #}
			<a href="blog/delete?id={{ Blog.idBlog}}"><img src="/assets/images/icons/icon_delete_adminonly.png" alt="garbage icon pour supprimer un blog en tant qu'administrateur" class="card-blog-action"></a>
		</div>
	</a>
</div>
